/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /* .kbc-td-contents .cpm-assigned-user a:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.5;
    left: 0;
 } */

 .kbc-td-contents .cpm-assigned-user a img.avatar,
 .kbc-td-contents .kbc-after-inside-content a  {
     position: relative;
     z-index: 1;
 }

 .workflow-form-menu {
     width: 100%;
 }

 .gform_wrapper.gravity-theme .boab-multi-step-form .gf_step_active .gf_step_number {
    background: #0F0E3F;
    border: none;
    color: #fff;
 }

 .gform_wrapper.gravity-theme .boab-multi-step-form .gf_step_number {
    border: 2px solid #0F0E3F;
    color: #0F0E3F;
 }

 .gform_wrapper.gravity-theme .boab-multi-step-form .gform_page_footer input {
    background: #0F0E3F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
 }

 .gform_wrapper.gravity-theme .boab-multi-step-form .gform_page_footer input.gform_previous_button {
    background: #607382
 }

 .gform_wrapper.gravity-theme .boab-multi-step-form .gpnf-add-entry {
    margin-top: 10px;
    background: none;
    border-radius: 4px;
    padding: 6px 15px;
    color: #0F0E3F;
    font-weight: bold;
}



